header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 18px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

#check {
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 0.8rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }


   #check:checked~.navbar a {
        transform: translateY(0);
        transition-delay: calc(.10s * var(--i));
    }
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px 50px;
}

@media (max-width: 1000px) {
    section {
        padding: 70px 30px;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 20px;
        object-fit: cover;
    }
}

.box {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}
.box video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1 {
    color: orange;
    text-shadow: 0 0 2px black;
}
p {
    color: white;
    text-shadow: 0 0 2px black;
}


@media (max-width: 1200px) {
    h1 {
        font-size: 90px;
    }

    p {
        font-size: 8px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
    

    p {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 40px;
    }
    
    p {
        font-size: 11px;
    }
}

.content {
    text-align: left;
    padding-right: 50%;
    padding-left:5%;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


:root {

  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);


  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}


@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  background-color: grey;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  background-color: skyblue;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}


.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}


@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}



@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}


@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}


@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
.ATTACHMENTS {
  color: White;
  font-size: 40px;
}
.attch {
  color: black;
  font-size: 20px;
}
.FavCharacters {
  color: black;
  font-size: 20px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  opacity: 0.8;
  cursor: pointer;
  border-radius: 20px;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#expandedImg {
  border-radius: 20px;
}
.container2 {
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.video-container1 {
            width: 80%;
            max-width: 800px;
            background-color: grey;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .vid {
            width: 100%;
            height: auto;
            border: 2px solid #ccc;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }
        .STORY {
          color: white;
          font-size: 20px;
        }
        
        .menu {
            display: none;
        }
        .open-menu {
            display: none;
            font-size: 24px;
            cursor: pointer;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        #check {
            display: none;
        }
        @media(max-width: 610px) {
            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: -100%;
                z-index: 10;
                background: grey;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16);
                transition: right 0.25s ease-in-out;
            }
            .menu li {
                margin-top: 40px;
            }
            .menu li a {
                padding: 10px;
                color: white;
                text-decoration: none;
            }
            .open-menu {
                display: block;
                position: fixed;
                top: 20px;
                right: 20px;
                z-index: 20;
            }
            #check:checked ~ .menu {
                right: 0;
            }
        }